@import url(http://fonts.googleapis.com/css?family=Montserrat);
body { font-family: 'Montserrat', Arial, serif; font-weight: 400;}
.jumbotron h1 {font-size:2em;}

span.tag, span.tag a  {background-color:darkgrey; color:white;}