<!DOCTYPE html>
<html lang="fr">
  <head>
    # block head
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tool to follow-up your customers">
    <meta name="author" content="Joel Viellepeau">
    <title>{% block title %}Flask-CRM{% endblock %}</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- Theme CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    # block css
    # endblock
    # endblock
  </head>
  <body>

    # block navbar
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">Company</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">>
                    <li class="{{navbar_customers}}"><a href="/">Customers</a></li>
                    <li class="{{navbar_admin}}"><a href="/admin">Admin</a></li>
                    <li><a href="#" id="recommend-zeus">Share</a></li>
                    <li><a href="{{logout_url}}" title="Logged as {{user.email()}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div id="dialog-recommend-this-app" title="Recommend this app to a friend">
  <p>Get 10 points !</p>
 
  <form>
    <fieldset>
      <label for="email">Email</label>
      <input type="text" name="email" id="email-recommended" class="text ui-widget-content ui-corner-all">
 
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>


<!-- <div id="dialog-recommend-this-app" title="Recommend this app to a friend">
  <p>Get 10 points !</p>
 
  <form>
    <fieldset>
      <label for="email">Email</label>
      <input type="text" name="email" id="email-recommended" class="text ui-widget-content ui-corner-all">
 
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div> -->



    # endblock


    # block header
    <header class="jumbotron text-center">
      <h1>Header</h1>
    </header>
    # endblock
    

    <main class="container">
      # block content
      # endblock
    </main>
    

<!--     <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright © <script>document.write(new Date().getFullYear())</script> Company. All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer> -->


    # block js
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


<script>
    
$(function() {
    var dialog
    dialog = $( "#dialog-recommend-this-app" ).dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      buttons: {
        "Share": function(){                              
            $.post("recommend",
            {
                email: $('#email-recommended').val()
            },
            function(data, status){
              $( "#dialog-recommend-this-app" ).append('<br><p class="lead text-center" style="color:green"><span class="glyphicon glyphicon-envelope"></span> Email sent!</p>')
              setTimeout(function(){ dialog.dialog( "close" ); }, 1000);
            }
            // function(data, status){
            //   $( "#dialog-recommend-zeus" ).append('<br><p class="lead text-center" style="color:red"><span class="glyphicon glyphicon-envelope"></span> Email invalid!</p>')
            //   setTimeout(function(){ dialog.dialog( "close" ); }, 1000);
            // }
            );
        },
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {

      }
    });

    $( "#recommend-zeus" ).on( "click", function() {
      dialog.dialog( "open" );
    });

});
</script>


    # endblock
  </body>
</html>