# extends 'base.html'

  # block css
    <link rel="stylesheet" href="/static/css/jtable.metro.blue.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery.tagsinput.css" type="text/css" />
  # endblock

  
  # block header
  <header><br></header>
  # endblock



  # block content
  <section>
    <form>
        <label>Search: <input type="text" name="search" id="search" placeholder="name, channel, tag.."></label>
        <button type="submit" id="LoadRecordsButton">Load records</button>
    </form>

  <br>

    <div id="CustomerTableContainer"></div>

    </section>
  # endblock

  # block js
    {{ super() }}
    
    <script src="/static/js/jquery.jtable.js"></script>
    <script src="/static/js/jquery.tagsinput.js"></script>
    <script src="/static/js/customer.jtable.js"></script>

  # endblock